[submodule "deps/ctap"]
	path = deps/ctap
	url = git@github.com:jhunt/ctap
[submodule "deps/small-matrix-inverse"]
	path = deps/small-matrix-inverse
	url = git@github.com:niswegmann/small-matrix-inverse
